<?xml version="1.0" encoding="UTF-8"?>
<plugin id="app-entitlements" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>AppEntitlements</name>
  <platform name="ios">
    <config-file target="Entitlements-*.plist" parent="com.apple.developer.in-app-payments">
      <array>
        <string>applinks:edemocratie.osonsreims.fr</string>
      </array>
    </config-file>
    <config-file target="Entitlements-*.plist" parent="com.apple.developer.in-app-payments">
      <array>
        <string>applinks:edemocratie.osonsreims.fr</string>
      </array>
    </config-file>
  </platform>
</plugin>
